<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Rebex.Common" version="6.0.8432" targetFramework="net40-client" />
  <package id="Rebex.Ftp" version="6.0.8432" targetFramework="net40-client" />
  <package id="Rebex.Networking" version="6.0.8432" targetFramework="net40-client" />
</packages>